$red: #ff3538;
$grey: #404145;
$grey-light: #c7c7cd;
$yellow: #ecaf2d;
$green: #5ad864;
$blue: #3b8ef3;
$colors: (
    red: (base: $red),
    grey: (base: $grey, light: $grey-light),
    yellow: (base: $yellow),
    green: (base: $green),
    blue: (base: $blue),
);

// functions
@function getColor($scheme, $tone: base) {
    @return map-get(map-get($colors, $scheme), $tone);
}