.headerLevelOne {
  display: flex;
  justify-content: space-between;

  .logo {
    padding: 20px 22px;
  }

  .productNav {
    display: flex;

    .product {
      border: 1px solid black;
      padding: 20px 22px;
      max-width: 300px;
      width: 20vw;
      text-align: center;
      color: #6C6C6C;
      font-size: 16px;
      font-weight: 600;
    }
  }
}