.container {
    width: 100%;
}
.accordionTrigger {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    font-size: 14px;
}
.accordionContent {
    padding: 16px;
}