
.app {
  overflow: hidden;
}
.container {
  overflow-x: auto;
  height: 100vh;
}
.row {
  display: flex;
  align-items: flex-start;
}

.column {
  width: 50%;
  position: sticky;
  top: 0; // Threshold is required
}

.columnLeft {
  background: lightgreen;
}

.columnRight {
  background: lightyellow;
}

.image {
  background: palevioletred;
  min-height: 180px;
  border-bottom: 3px solid pink;
}

.dots {
  background: coral;
  height: 70px;
}

.description {
  padding: 16px;
  .header {
    margin-bottom: 8px;
  }
}

.selector {
  height: 80px;
  background: blue;
  color: yellow;
  border-bottom: 3px solid pink;
}

.summary {
  height: 400px;
}

.otherContent {
  background: yellow;
  height: 1000px;
}