.trigger {
    min-height: 44px; // TODO: make button class or component for this min
    min-width: 44px;
    background: red;
}

.container {
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    display: flex;
}
.modal {
    width: 484px;
    height: 900px;
    margin: 0px auto;
    background: lightblue;
}