.trigger {
    min-height: 44px; // TODO: make button class or component for this min
    min-width: 44px;
    background: red;
}
.container {
    z-index: 1000;
    // background: black;
    // opacity: 0.6;
    box-sizing: border-box;
    left:0;
    bottom: 0;
    right:0;
    top:0;
    position:fixed;
}
.container2 {
    overflow-y: scroll;
    inset: 0px;
    position: fixed;
    display: flex;
}
.container3 {
    // height: 100%;
    // display: flex;
    // min-height: 0px;
    // position: relative;
    // border-radius: 6px;
    margin: 0px auto;
}
.modal {
    width: 484px;
    height: 900px;
    background: lightblue;
}