@import '/src/styling-library/design-system/text';
@import '/src/styling-library/design-system/spacing';

html {
  font-size: $base-font-size;
  font-family: 'Inter';
}

body {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.a-i-center {
  align-items: center;
}

.a-i-end {
  align-items: end;
}

.a-c-center {
  align-content: center;
}

.a-c-end {
  align-content: end;
}

.j-i-center {
  justify-items: center;
}

.j-i-end {
  justify-items: end;
}

.j-c-center {
  justify-content: center;
}

.j-c-end {
  justify-content: end;
}

button {
  min-height: 44px;
  min-width: 44px;
}