@import '/src/styling-library/design-system/text';
@import '/src/styling-library/design-system/spacing';
@import '/src/styling-library/design-system/responsive';

html {
  font-size: $base-font-size;
  font-family: 'Inter';
}

body {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

button {
  min-height: 44px;
  min-width: 44px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.a-i-center {
  align-items: center;
}

.a-i-end {
  align-items: end;
}

.a-c-center {
  align-content: center;
}

.a-c-end {
  align-content: end;
}

.j-i-center {
  justify-items: center;
}

.j-i-end {
  justify-items: end;
}

.j-c-center {
  justify-content: center;
}

.j-c-end {
  justify-content: end;
}

@mixin restricted-container {
  max-width: 1440px;
  padding-left: $desktop-gutter;
  padding-right: $desktop-gutter;
  margin: auto;

  @media screen and (max-width: $mobile-max) {
      padding-left: $mobile-gutter;
      padding-right: $mobile-gutter;
  }

  @media screen and (max-width: $mini-max) {
      padding-left: $mini-gutter;
      padding-right: $mini-gutter;
  }
}

@mixin content-block {
  margin-top: $desktop-spacing;
  margin-bottom: $desktop-spacing;

  @media screen and (max-width: $tablet-max) {
      margin-top: $mobile-spacing;
      margin-bottom: $mobile-spacing;
  }
}


.tablet-min-up-only {
  @media screen and (max-width: $mobile-max) {
      display: none !important;
  }
}

.mobile-max-down-only {
  @media screen and (min-width: $tablet-min) {
      display: none !important;
  }

}

.hide-mobile-max-down {
  @media screen and (max-width: $mobile-max) {
      display: none !important;
  }
}

.hide-tablet-max-down {
  @media screen and (max-width: $tablet-max) {
      display: none !important;
  }
}

.hide-desktop-max-down {
  @media screen and (max-width: $desktop-max) {
      display: none !important;
  }
}

.hide-tablet-min-up {
  @media screen and (min-width: $tablet-min) {
      display: none !important;
  }
}