.fieldset {
    background: yellow;
}
// .legend {
//     background: yellowgreen;
// }
// .label {
//     color: tan;
// }
.option {
    border: 1px solid black;
}
.image {
    background: lightgray;
    height: 100px;
    width: 100px;
    margin-right:8px;
}
.optionsContainer {
    display: flex;
    flex-wrap: wrap;
}