.app {
  overflow: hidden;
}

.pageContainer {
  overflow-x: auto;
  height: 100vh;
}

.row {
  display: flex;
  align-items: flex-start;
}

.column {
  width: 50%;
  position: sticky;
  top: 0; // Threshold is required
}

.image {
  min-height: 180px;
}

.dots {
  height: 70px;
}

.description {
  padding: 16px;

  .header {
    margin-bottom: 8px;
  }
}

.selector {
  height: 80px;
}

.container {
  width: 100%;
}

.accordionTrigger {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  font-size: 14px;
}

.accordionContent {
  padding: 16px;
}

.summary {
  height: 400px;
}

.otherContent {
  height: 1000px;
}