@use "#/design-system/_spacing" as space;
@use "#/design-system/_text" as text;

// TODO: figure out a better way to globally style lower leaf components... this is a bad solution because of the namespace conflicts. This would be better as plain css solution...
.app {
    background: #2d2219;

    * {
        font-family: futura;
    }

    button {
        background-color: #ffaed0;
    }
}

.columnRight {
    background: #faff52;
    padding: space.$large; // space.$medium;

    .description {
        padding: 0;
    }
}

.accordionContainer {
    margin-top: space.$small;

    .accordionTrigger {
        background: transparent;
        border: 1px solid black;
        border-radius: 8px;
        align-items: center;
        padding: space.$medium;
        font-size: text.$small;
    }
}